* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(./images/photo_2023-11-01_16-36-46.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
}
.timer_card {
  max-width: 579px;
  max-height: 270px;
  border-radius: 40px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 24px 0px rgba(255, 255, 255, 0.4);
  font-size: 88px;
  color: white;
  padding: 37px 67px;
  background-color: black;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 121px;
}

.control_btns {
  display: flex;
  align-items: center;
  gap: 31px;
}
.control_btns button {
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.14);
  padding: 23px 85px;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(144deg, #28272f 9.13%, #040404 62.89%);
  box-shadow: 0px 3px 0px rgb(38, 38, 38);
  transition: all 0.1s;
}
.control_btns button:active {
  box-shadow: 0px 0px 0px rgb(38, 38, 38);
  transform: translateY(3px);
}

button:disabled {
  color: rgb(103, 103, 103);
  cursor: not-allowed;
}
